<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <!-- 清空預設的處理程序 -->
      <clear />
      <!-- 添加 httpPlatformHandler -->
      <add name="httpPlatformHandler" path="*" verb="*" modules="httpPlatformHandler"
        resourceType="Unspecified" />
    </handlers>
    <httpPlatform processPath="D:\Users\qwepo\anaconda3\python.exe"
      arguments="D:\專案\我的專案\geodjango\manage.py runserver"
      stdoutLogEnabled="true"
      stdoutLogFile="D:\專案\我的專案\geodjango\logs\stdout.log"
      startupTimeLimit="60"
      processTimeout="300">

    </httpPlatform>

  </system.webServer>
</configuration>