<h1>新增公告</h1>
<form method="post"  action="{% url 'add_announcement' %}" style="display: flex;flex-direction: column; align-items: center;justify-content: center;">
    {% csrf_token %}
    <div class="mb-3" style="width: 600px;"> <!-- 限制寬度 -->
        <label class="form-label">公告名稱</label>
        <input type="text" name="name" class="form-control" required>
    </div>
    <div class="mb-3" style="width: 600px;"> <!-- 限制寬度 -->
        <label class="form-label">公告內容</label>
        <textarea name="content" class="form-control" required></textarea>
    </div>
    <div class="mb-3" style="width: 600px;" > <!-- 限制寬度 -->
        <label class="form-label">發佈人</label>
        <input type="text" name="owner" class="form-control" required>
    </div>
    <div style="width: 600px;">
    <button type="submit" class="btn btn-primary">提交</button>
    <a href="announcement" class="btn btn-secondary">返回</a>
</div>
</form>
